# Enter your credentials for each platform below
# Save this file as ".env" (without the .example ending)
# Do NOT share this .env file with anyone!

WIFI_ID="your_wifi_id_here"
WIFI_PASS="your_wifi_password_here"

LMS_ID="your_lms_id_here"
LMS_PASS="your_lms_password_here"

VCAMPUS_ID="your_vcampus_id_here"
VCAMPUS_PASS="your_vcampus_password_here"
